test/Altinn.App.Api.Tests/Data/apps/tdd/contributer-restriction/models/Skjema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- NOTE: The scheam was generated by AI, not studio, and is probably not in sync-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="Skjema" type="SkjemaType"/>

  <!-- Skjema Type -->
  <xs:complexType name="SkjemaType">
    <xs:sequence>
      <xs:element name="melding" type="DummyType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Dummy Type -->
  <xs:complexType name="DummyType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="random" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="simple_list" type="ValuesListType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="nested_list" type="NestedListType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="toggle" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tag-with-attribute" type="TagWithAttributeType" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xs:element name="hidden" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SF_test" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="hiddenNotRemove" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="hiddenPage" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="hiddenPageNotRemove" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- TagWithAttribute Type -->
  <xs:complexType name="TagWithAttributeType" mixed="true">
    <xs:simpleContent>
      <xs:extension base="StringType1To60">
        <xs:attribute name="orid" type="xs:decimal" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- String type with length 1-60 -->
  <xs:simpleType name="StringType1To60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ValuesList Type -->
  <xs:complexType name="ValuesListType">
    <xs:sequence>
      <xs:element name="simple_keyvalues" type="SimpleKeyvaluesType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- SimpleKeyvalues Type -->
  <xs:complexType name="SimpleKeyvaluesType">
    <xs:sequence>
      <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="doubleValue" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="intValue" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- NestedList Type -->
  <xs:complexType name="NestedListType">
    <xs:sequence>
      <xs:element name="nested_list_item" type="NestedType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Nested Type -->
  <xs:complexType name="NestedType">
    <xs:sequence>
      <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="values" type="SimpleKeyvaluesType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
